.jira-ticket-modal {
    .go-back-button {
        width: 20px;
        height: 20px;
        cursor: pointer;
    }

    .jira-ticket-modal-content {
        padding: 16px;
        height: 100%;
    }

}
