@import '../../assets/style/colors';

.default-est-card-picker {
    display: flex;
    height: fit-content;
    user-select: none;

    .estimate-card {
        cursor: pointer;

        &:not(:first-of-type) {
            margin-left: 16px;
        }
    }
}
