@import '../../assets/style/colors';

.default-skeleton-loader {
    height: 30px;
    width: 100%;
    background: $shimmer-background;
    background-size: 800px 100px;
    animation: wave 1.5s infinite ease-out;
}

@keyframes wave {
    0% {
        background-position: -468px 0;
    }
    100% {
        background-position: 468px 0;
    }
}
