@import '../../../../assets/style/colors';
@import '../../../../assets/style/shadows';

.issue-item {
    display: flex;
    align-items: center;
    min-height: 100px;
    padding: 8px;
    margin: 0 6px;
    cursor: pointer;
    border: 2px solid transparent;

    &:hover {
        background-color: $gray-very-light;
    }

    &--selected {
        background-color: $blue-highlight;
        box-shadow: $selected-shadow;

        &:hover {
            background-color: $blue-highlight;
            opacity: 0.8;
        }
    }

    .issue-description {
        display: flex;
        flex-direction: column;

        .issue-header {
            display: flex;
            align-items: center;

            .issue-key {
                font-weight: 600;
                line-height: 16px;
            }

            svg {
                width: 23px;
                height: 12px;
                margin: 0 0 4px 6px;

                &:hover {
                    path {
                        fill: $blue-malibu;
                    }
                }
            }
        }

        .issue-summary {
            max-width: 385px;
            margin-top: 10px;
            font-size: 14px;
            line-height: 20px;
        }
    }

    .issue-status {
        display: flex;
        align-items: center;
        margin-left: auto;
        font-size: 14px;
        min-width: 250px;

        .issue-status-labels {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;

            b {
                font-weight: 600;
            }

            .issue-status-name {
                margin-bottom: 10px;
            }
        }

        img {
            width: 48px;
            height: 48px;
            border-radius: 1000px;
            margin-left: auto;
        }
    }
}
