.default-team-item {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    padding: 0 13px 0 8px;
    background-color: #fff;
    border-radius: 4px;

    .team-name {
        font-size: 14px;
    }

    input {
        background-color: transparent;
        height: 100%;
        width: 100%;
        padding: 0;
    }

    svg {
        cursor: pointer;
    }

    .edit-icon {
        margin: 0 11px 0 auto;
    }
}
