@import '../../assets/style/colors';
@import '../../assets/style/shadows';

.default-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 56px;
    height: 88px;
    border-radius: 4px;
    background-color: $gray-whisper;
    font-size: 24px;
    font-weight: 500;
    color: $black-mostly;
    box-shadow: $estimation-card-shadow;
    border: 2px solid transparent;


    &--revealed {
        border: 2px solid $blue-pelorous;
        background-color: $white-mostly;
        color: $black-mostly;
    }

    &--selected {
        border: 2px solid $blue-pelorous;
        background-color: $blue-pelorous;
        color: $white-completely;
    }
}
