@import '../../../assets/style/colors';

$loader-height: 40px;

.default-issue-picker {
    height: 100%;
    display: flex;
    flex-direction: column;

    .issue-picker-filters {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        input {
            flex: 1 0 auto;
        }

        .sprint-picker {
            width: 200px;
            margin-left: 16px;
        }
    }

    .issues-list {
        display: flex;
        flex-direction: column;
        min-height: fit-content;
        max-height: calc(100% - 120px);
        overflow-y: auto;
        margin: 0 -6px;
        padding-bottom: $loader-height;

        .loading-container {
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: $loader-height;
            margin-bottom: -$loader-height;
        }
    }

    .issues-picker-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }
}
