@import '../../../assets/style/colors';

.default-issue-picker {
    height: 100%;
    display: flex;
    flex-direction: column;

    .issue-picker-filters {
        display: flex;
        align-items: center;
        margin-bottom: 16px;

        input {
            flex: 1 0 auto;
        }

        .sprint-picker {
            width: 200px;
            margin-left: 16px;
        }
    }

    .loading-container {
        display: flex;
        justify-content: center;
        width: 100%;
        height: 100px;
        margin-top: 16px;
    }

    .issues-list {
        display: flex;
        flex-direction: column;
        height: calc(100% - 120px);
        overflow-y: auto;
    }

    .issues-picker-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: auto;
    }
}
