$blue-malibu: #52C0E2;
$blue-boston: #3E98B1;
$blue-pelorous: #188AAE;
$blue-highlight: #F2FDFF;

$black-nero: #1E1E1E;
$black-mostly: #101010;

$white-mostly: #FFFDFD;
$white-completely: #FFF;

$gray-white-smoke: #F3F3F3;
$gray-whisper: #eaeaea;
$gray-very-light: #cbcbcb;
$gray-dim: #717171;
$gray-silver: #C4C4C4;

$red-rose-bud: #FF9D9D;
$red-warning: #D70000;
