$light-blue: #52C0E2;
$dark-blue: #188AAE;
$highlight-blue: #F2FDFF;
$almost-black: #1E1E1E;
$default-bg-gray: #F3F3F3;


$comscore-blue: #54C8E8;
$comscore-orange: #FFA400;
$acceptance-green: #11a102;
$warning-red: #D70000;
$contour-gray: #505050;
$light-gray: #cbcbcb;
