@import '../../assets/style/colors';

$top-padding: 64px;

.default-modal-wrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    padding-top: $top-padding;
    z-index: 100;
    background-color: rgba(#000, 0.3);
}

.default-modal {
    width: 800px;
    background-color: $gray-white-smoke;
    border-radius: 8px;
    min-height: 400px;
    max-height: calc(100vh - $top-padding * 2);
    overflow-y: hidden;

    .modal-header {
        display: flex;
        align-items: center;
        height: 64px;
        padding: 0 24px;

        .modal-close-button {
            cursor: pointer;
            margin-left: auto;
        }
    }

    .modal-content {
        height: calc(100% - $top-padding);
    }
}
