@import '../../assets/style/colors';


.default-button {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    width: fit-content;

    &--small {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 8px 17px;
    }

    &--medium {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        padding: 11px 17px;
    }

    &--filled {
        background-color: $blue-malibu;
        color: #fff;
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $blue-malibu;
        color: $blue-malibu;
    }

    &--disabled {
        background-color: $gray-white-smoke;
        border: 1px solid $gray-white-smoke;
        color: $white-completely;
        cursor: not-allowed;
    }
}
