@import '../../assets/style/colors';


.default-button {
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select: none;
    width: fit-content;
    position: relative;

    &--loading {
        & > *:not(.default-button-loader-container) {
            opacity: 0;
        }
    }

    .default-button-loader-container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--small {
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        padding: 8px 17px;

        .default-button-loader-container svg {
            height: 16px;
        }
    }

    &--medium {
        font-size: 18px;
        font-weight: 700;
        line-height: 21px;
        padding: 11px 17px;

        .default-button-loader-container svg {
            height: 21px;
        }
    }

    &--filled {
        background-color: $blue-malibu;
        border: 1px solid transparent;
        color: $white-completely;

        .default-button-loader-container svg path {
            fill: $white-completely
        }

        &:hover {
            background-color: $blue-pacific;
        }
    }

    &--outline {
        background-color: transparent;
        border: 1px solid $blue-malibu;
        color: $blue-malibu;

        .default-button-loader-container svg path {
            fill: $blue-malibu;
        }

        &:hover {
            background-color: $blue-malibu;
            color: $white-completely;
        }

        .default-button-loader-container svg path {
            fill: $white-completely;
        }
    }

    &--warning {
        background-color: $red-warning;
        border: 1px solid transparent;
        color: $white-completely;

        .default-button-loader-container svg path {
            fill: $white-completely;
        }

        &:hover {
            background-color: $red-fire-brick;
        }
    }

    &--disabled {
        background-color: $gray-white-smoke;
        border: 1px solid $gray-white-smoke;
        color: $white-completely;
        cursor: not-allowed;
    }
}
