@import '../../assets/style/colors';


.default-button {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    background-color: $comscore-orange;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 14px;
    height: 55px;
    border: none;
    cursor: pointer;
    user-select: none;

    &--disabled {
        background-color: $default-bg-gray;
        cursor: not-allowed;
    }
}
