@import "../../assets/style/colors";

.default-teams-creator {
    display: flex;
    flex-direction: column;
    width: 100%;

    .teams-list {
        overflow-y: auto;

        .team {
            &:not(:first-of-type) {
                margin-top: 16px;
            }
        }
    }

    .add-team-form {
        display: flex;
        flex-direction: column;
        margin-top: 16px;

        input {
            width: 100%;
        }

        .add-team-form-buttons {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 16px;

            button:last-of-type {
                margin-left: 8px;
            }
        }
    }

    .show-team-adding-form-button {
        margin: 16px 0 0 auto;
    }
}
